{% extends 'base.html' %}

{% block title %}Entrypoint - Transcriber Interface{% endblock %}

{% block data_page %}landing{% endblock %}

{% block content %}
<!-- Intro Section -->
<div class="intro">
    <h1>Presentable</h1>
    <p>
        You always wanted to improve your presentation and speaking skills? Then you are at the perfect place!
        Every one of us has to hold a presentation or give a speech from time to time. It can be challenging to train
        that without having friends or family listening to the speech and giving you subjective feedback.
        Of course, this is valuable, but sometimes you just want to practice on your own without the need for
        anyone else to listen carefully and get objective feedback. If so, then you are at the perfect place.
    </p>
</div>

<!-- Recording Audio -->
<div class="get_started">
    <h2>Get started now ...</h2>
    <p>
        Start now to improve your presentation skills. Click on the button below and log in
        or create a new account. No worries, you won't get any marketing mails, your e-mail address is only
        necessary to implement a password reset in the future. For now, if you forgot your credentials, please
        contact me and I will help you regain access to your files.
    </p>

    <form method="POST" action="{{ url_for('auth.login') }}">
        <button type="submit" class="btn" id="get-started-btn">Get Started</button>
    </form>
</div>

<!-- Analytics Section -->
<div class="analytics">
    <h2>Here's what you will get ...</h2>

    <p>
        When it comes to presentations, it is often the pure speech that decides whether
        the content is interesting and capturing for the audience or not. That's why your recording will be analysed
        in terms of the following objective features:
    </p>
    <ol class="analytics-list">
        <li> <p_bf>General Information:</p_bf> This includes an AI generated headline for your speech, the language of your
            recording as well as the length and word count in your recording.
        </li>
        <li><p_bf>Summary of the Speech:</p_bf>  AI generated summary of your speech. If the AI model captures the essence
            of your speech, it is also likely that your audience may capture it.
        </li>
        <li><p_bf>Speech Rate:</p_bf>  The graph shows your speech rate over time for your whole recording. The speech rate
            is measured in words per minute. There are also upper and lower bounds marked in the graph,
            giving you an orientation in which bounds your speech rate should be to avoid being too slow or too fast.
        </li>
        <li><p_bf>Pitch Analysis:</p_bf>  The graph shows the pitch you have during your speech. Usually, it is a good sign to have
            high amplitude of your pitch throughout the speech as this means you are varying in your pitch.
            In contrast, boring speeches usually have a small amplitude.
        </li>
        <li><p_bf>Energy Analysis:</p_bf>  The graph shows the relative energy level over time. This resembles your speech energy
            during the recording, i.e., in parts where you speak louder, the energy level will be higher.
            The relative level is measured in regard to the loudest section of your recording.
        </li>
        <li><p_bf>Suggestion for Speech Improvement:</p_bf>  This will provide an AI generated suggestion of how you can improve
            your speech to be more fluent and professional. Please check this suggestion before using it as the AI
            model may make mistakes.
        </li>
    </ol>


    <div class="analytics-panel-grid1">

        <!-- Panel for General Overview Information -->
        <div class="analytics-panel-landing" id="content-overview-panel-landing">
            <h3 data-i18n="overview-landing">General Information</h3>
            <p id="panel-topic-landing" >Topic: The Importance of Sustainable Living</p>
            <p id="panel-language-landing" >Language: en</p>
            <p id="panel-audio-length-landing" >Audio Length: 3 minutes 22 seconds</p>
            <p id="panel-word-count-landing" >Word Count: 455</p>
        </div>

        <!-- Panel for Summary of Content -->
        <div class="analytics-panel-landing" id="content-summary-panel-landing" >
            <h3 data-i18n="summary_of_speech-landing">Summary of Speech</h3>
            <p id="panel-summary-landing">Sustainability is more than just a buzzword. It's about finding a balance between the environment, the economy and society. Sustainability isn't just about what we do as individuals, it's also about advocating for policies that support sustainable development.</p>
        </div>
    </div>

    <div class="analytics-panel-grid2">
        <!-- Panel for Analysis of Speech Rate -->
        <div class="analytics-panel-landing" id="speech-rate-panel-landing" >
            <h3 data-i18n="speech_rate-landing">Speech rate</h3>
            <img src="static/figures/speed_demo.png" alt="Speed Demo" width=100%>
        </div>

        <!-- Panel for Analysis of Pitch -->
        <div class="analytics-panel-landing" id="pitch-panel-landing" >
            <h3 data-i18n="pitch_analysis-landing">Pitch Analysis</h3>
            <img src="static/figures/pitch_demo.png" alt="Pitch Demo" width=100%>
        </div>

        <!-- Panel for Analysis of Energy -->
        <div class="analytics-panel-landing" id="energy-panel-landing" >
            <h3 data-i18n="energy_analysis-landing">Energy Analysis</h3>
            <img src="static/figures/energy_demo.png" alt="Energy Demo" width=100%>
        </div>
    </div>

    <div class="analytics-panel-grid3">
        <!-- Panel for Improved Text -->
        <div class="analytics-panel-landing" id="improved-text-panel-landing" >
            <h3 data-i18n="improved_text-landing">Suggestion for Speech Improvement</h3>
            <p id="panel-improved-text-landing">Sustainability is more than just a buzzword. It's about finding a balance between the environment, the economy and society. Sustainability isn't just about what we do as individuals, it's also about advocating for policies that support sustainable development. Governments play a key role in shaping our future by supporting renewable energy sources, investing, green infrastructure, and encouraging business to adopt sustainable practices. When we invest in sustainable practices, we create jobs, improve public health, and strengthen the fabric of society. Sustainable living is a win-win. We must ask ourselves, what kind of world do we want to live behind? A world filled with waste and pollution, or world where resources are used wisely, and the planet thrives? ...</p>
        </div>
    </div>
</div>

{% endblock %}
