{% extends 'base.html' %}

{% block title %}Login - Transcriber Interface{% endblock %}

{% block data_page %}login{% endblock %}

{% block content %}
    <!--suppress XmlInvalidId -->
    <div class="center">
        <h_l data-i18n="login_header">Login</h_l>
        <!-- Display Flash Messages for unsuccessful log-in -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert" data-i18n="login_error_{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email" data-i18n="email_label" class="form-label">{{ form.email.label.text }}</label>
                {{ form.email(id="email", class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password" data-i18n="password_label" class="form-label">{{ form.password.label.text }}</label>
                {{ form.password(id="password", class="form-control") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-i18n="login_button">Login</button>
            </div>
        </form>

        <!-- Button to navigate to the registration page -->
        <p data-i18n="no_account">Don't have an account? </p>
        <a href="{{ url_for('auth.register') }}" data-i18n="register_link">Register here</a>
    </div>

{% endblock %}