<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="page_title">{% block title %}Presentable{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}
        {% if page_name == "dashboard" %}
            <link rel="stylesheet" href="/static/css/dashboard.css">
        {% elif page_name == "login" %}
            <link rel="stylesheet" href="/static/css/login.css">
        {% elif page_name == "register" %}
            <link rel="stylesheet" href="/static/css/register.css">
        {% elif page_name == "landing" %}
            <link rel="stylesheet" href="/static/css/landing.css">
        {% endif %}
    {% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>
<body class="{% block body_class %}{% endblock %}" data-page="{% block data_page %}{% endblock %}">

    <!-- Header for all pages -->
    <header class="header">
        <!-- Language Switcher Buttons -->
        <div class="language-switcher">
            <p_h> &#127758; </p_h>
            <button id="btn_en" data-i18n="language_english">en</button>
            <button id="btn_de" data-i18n="language_german">de</button>
            <button id="btn_es" data-i18n="language_spanish">es</button>
        </div>

        <!-- User Info and Logout Button for Dashboard-->
        {% if page_name != "login" and page_name != "register" and page_name != "landing" %}
            <div class="user-info-container">
                <div class="user-icon">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="black">
                        <circle cx="12" cy="9" r="5" stroke=#f4f4f4 stroke-width="1.5" fill="black"></circle>
                        <path d="M4,20c0-4,4-6,8-6s8,2,8,6" stroke=#f4f4f4 stroke-width="1.5" fill=black></path>
                    </svg>
                    <div class="info-panel">
                        <p><strong data-i18n="user_name_label">Name:</strong> {{ current_user.username }}</p>
                        <p><strong data-i18n="user_email_label">Email:</strong> {{ current_user.email }}</p>
                    </div>
                </div>
                <form method="POST" action="{{ url_for('auth.logout') }}">
                    <button type="submit" class="btn btn-logout" data-i18n="logout_button">Logout</button>
                </form>
            </div>
        {% endif %}

        <!-- Login Button for Landing Page -->
        {% if page_name == "landing" %}
            <div class="user-info-container">
                <form method="POST" action="{{ url_for('auth.register') }}">
                    <button type="submit" class="btn-login" data-i18n="register_button">Register</button>
                </form>
                <form method="POST" action="{{ url_for('auth.login') }}">
                    <button type="submit" class="btn-login" data-i18n="login_button">Login</button>
                </form>
            </div>
        {% endif %}

    </header>

    <!-- Canvas for dynamic wave background -->
    <canvas id="backgroundCanvas"></canvas>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p_f data-i18n="footer">Developed by Kilian Brickl © 2024</p_f>
    </footer>
</body>
</html>
