/* Section Styling for Introduction */
.intro {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9); /* Dark grey with low opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Section Styling for Record Audio */
.record_audio {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9); /* Dark grey with no opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Section Styling for Analytics */
.analytics {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9); /* Dark grey with no opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Section Styling for File Management */
.file_management {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9); /* Dark grey with no opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Buttons Group */
.button-group {
    display: flex;
    justify-content: center; /* Center-align buttons */
    gap: 15px; /* Space between buttons */
    margin: 20px auto 20px auto;
}

.control-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition on hover */
}

#start {
    background: #008A00; /* Dark green background */
    color: white;
}

#pause {
    background: #FFA500; /* Orange background */
    color: white;
}

#stop {
    background: #B22222; /* Red background */
    color: white;
}

/* Disabled Button Styles */
#start:disabled {
    background: rgba(0, 128, 0, 0.6) !important; /* Light green */
    color: rgba(255, 255, 255, 0.6) !important; /* Dimmed text */
    cursor: not-allowed !important; /* Visual indicator for disabled */
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#pause:disabled {
    background: rgba(255, 165, 0, 0.6) !important; /* Light orange */
    color: rgba(255, 255, 255, 0.6) !important; /* Dimmed text */
    cursor: not-allowed !important; /* Disabled cursor */
    transition: background 0.3s ease, color 0.3s ease;
}

#stop:disabled {
    background: rgba(178, 34, 34, 0.6) !important; /* Light red */
    color: rgba(255, 255, 255, 0.6) !important; /* Dimmed text */
    cursor: not-allowed !important; /* Disabled cursor */
    transition: background 0.3s ease, color 0.3s ease;
}

/* Hover Effects for Buttons */
#start:hover {
    background-color: #00B000; /* Lighter green on hover */
}

#pause:hover {
    background-color: #FFC107; /* Lighter orange on hover */
}

#stop:hover {
    background-color: #D21404; /* Lighter red on hover */
}

/* Delete All Button */
#delete_all {
    padding: 10px 40px;
    background: #007BFF; /* Blue-grey background */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s ease; /* Smooth background transition */
}

#delete_all:hover {
    background: #0056b3; /* Lighter blue-grey on hover */
}

/* Stop Modal Styling */
#stop-options-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background: rgba(51, 51, 51); /* Dark grey with slight transparency */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 20px #121212; /* Subtle shadow */
    z-index: 1000; /* Ensure it appears on top */
    text-align: center; /* Center align modal content */
}

/* Button styles for modal */
#save-audio-analyze {
    background: #007BFF;
    color: white;
    transition: background 0.3s ease; /* Smooth transition on hover */
}
#save-audio-analyze:hover {
    background: #0056b3;
}

#delete-audio {
    background: #B22222;
    color: white;
    transition: background 0.3s ease; /* Smooth transition on hover */
}
#delete-audio:hover {
    background: #D21404;
}

/* Container for the "Select a Recording" dropdown aligned to the left */
.select-recording {
    margin: 20px;
    display: flex;             /* Use flexbox for alignment */
    align-items: center;       /* Vertically center label and dropdown */
    justify-content: flex-start; /* Align content to the left */
}

/* Label for the dropdown menu */
.select-recording label {
    margin-right: 10px;
    font-size: 16px;
    display: inline-block;
    align-items: center;       /* Vertically center label and dropdown */
    justify-content: flex-start; /* Align content to the left */
}

/* Style for the dropdown menu */
#audioFile-dropdown{
    min-width: 270px;  /* Set the minimum width to 100px */
    width: auto;       /* Allow the width to scale based on content */
    padding: 3px 10px; /* Adjust padding to match button height */
    font-size: 14px;   /* Adjust font size */
    border: 1px solid white; /* Border for the dropdown */
    border-radius: 5px; /* Rounded corners */
    background-color: white; /* Light background color */
    display: inline-block; /* Ensure it aligns with the label */
    height: 25px;      /* Set a fixed height to match button size */
    line-height: 20px; /* Ensure text is centered vertically */
}

/* Button styling */
#get-analysis-btn {
    font-size: 14px;
    padding: 3px 10px; /* Adjust padding to match dropdown height */
    margin-left: 10px; /* Space between dropdown and button */
    background-color: #007BFF; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    height: 25px;      /* Set the height to match the dropdown */
    transition: background 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect for the button */
#get-analysis-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Delete All Confirmation Modal Styling */
#delete-confirmation-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background: rgba(51, 51, 51); /* Dark grey with slight transparency */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 20px #121212; /* Subtle shadow */
    z-index: 1000; /* Ensure it appears on top */
    text-align: center; /* Center align modal content */
}

/* Delete Confirmation Modal Styling */
#delete-single-confirmation-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background: rgba(51, 51, 51); /* Dark grey with slight transparency */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 20px #121212; /* Subtle shadow */
    z-index: 1000; /* Ensure it appears on top */
    text-align: center; /* Center align modal content */
}

#confirm-delete {
    background: #B22222; /* Red for Delete */
    color: white;
    transition: background 0.3s ease; /* Smooth transition on hover */
}
#confirm-delete:hover {
    background: #D21404; /* Lighter red */
}

#cancel-delete {
    background: #5a7184; /* Grey-blue for Cancel */
    color: white;
}
#cancel-delete:hover {
    background: #3d4f5c; /* Lighter grey-blue */
}

#confirm-delete-single {
    background: #B22222; /* Red for Delete */
    color: white;
    transition: background 0.3s ease; /* Smooth transition on hover */
}
#confirm-delete-single:hover {
    background: #D21404; /* Lighter red */
}

#cancel-delete-single {
    background: #5a7184; /* Grey-blue for Cancel */
    color: white;
}
#cancel-delete-single:hover {
    background: #3d4f5c; /* Lighter grey-blue */
}

/* Delete Confirmation Modal Styling */
#analysis-selection-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background: rgba(51, 51, 51); /* Dark grey with slight transparency */
    color: white; /* white text color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 20px #121212; /* Subtle shadow */
    z-index: 1000; /* Ensure it appears on top */
    text-align: center; /* Center align modal content */
}

#close-error-modal {
    background: #007BFF; /* Grey-blue for Cancel */
    color: white;
}

#close-error-modal:hover {
    background: #0056b3; /* Lighter grey-blue */
}

/* Panels Styling */
.panel {
    /* background: rgba(51, 51, 51);  Dark grey with 85% opacity */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    min-height: 100px; /* Minimum height for panels */
}

/* File List Styling */
.file-list {
    height: 90%;
    min-height: 90px;
    max-height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50px auto auto auto auto; /* Set each column width to fit its content */
    gap: 5px 5px; /* Vertical & horizontal gaps between items */
    justify-items: start;
    align-items: center;
}

/* Individual file row item styling */
.file-item {
    display: contents; /* Let children flow into grid cells */
}

/* Delete button - always in the first column */
/* Style the delete button */
.file-item .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* Space between the delete button and link */
}

/* File item links */
.audio-link,
.transcription-link,
.improved-text-link {
    text-decoration: none;
    color: white;
}

.audio-link:hover,
.transcription-link:hover,
.improved-text-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.date-time {
    font-size: 14px;
    color: white;
}

/* Grid Layout for Panels Overview and Summary */
.analytics-panel-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Grid Layout for Panels Three Graphics */
.analytics-panel-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Grid Layout for Panels Improved Text */
.analytics-panel-grid3 {
    display: grid;
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Panel Styling */
.analytics-panel {
    border: 1px solid white; /* Light grey border */
    border-radius: 5px;
    text-align: center;
    color: white;
    min-height: 150px; /* Set minimum height for panels */
}

/* Style the canvas to fit the speedometer inside the panel */
#canvas_wpm_speedo {
    display: block;
    margin: auto;
    width: 80%; /* Full width of the parent container */
    height: auto; /* Maintain aspect ratio */
}

.text_wpm_speedo {
    color: white;
    font-size: 16px;
    position: relative;
    top: -10%;
}

/* Form Styling */
.form-group {
    margin-bottom: 5px;
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9); /* Matches dashboard panel styles */
    margin-top: 5px;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Loader container for better alignment */
.loader-container {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

/* Pulsating ring */
.pulsating-ring {
    width: 40px;
    height: 40px;
    border: 6px solid rgba(0, 123, 255, 0.5); /* Light blue */
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    margin: 0 auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

