/* Section Styling for Introduction */
.intro {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.95); /* Dark grey with little opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Section Styling for get_started */
.get_started {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.95); /* Dark grey with little opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Section Styling for Sample Analytics */
.analytics {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.95); /* Dark grey with little opacity */
    padding: 30px 20px;
    margin: auto auto 30px auto;
}

/* Button styling */
#get-started-btn {
    font-size: 14px;
    padding: 10px 20px; /* Adjust padding to match dropdown height */
    background-color: #008A00; /* Green background */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect for the button */
#get-started-btn:hover {
    background-color: #00B000; /* Lighter green on hover */
}

/* Panels Styling */
.panel {
    /* background: rgba(51, 51, 51);  Dark grey with 85% opacity */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    min-height: 100px; /* Minimum height for panels */
}

/* Grid Layout for Panels Overview and Summary */
.analytics-panel-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Grid Layout for Panels Three Graphics */
.analytics-panel-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Grid Layout for Panels Improved Text */
.analytics-panel-grid3 {
    display: grid;
    gap: 20px; /* Spacing between panels */
    justify-items: stretch; /* Make sure all panels stretch to fill the available space */
    padding: 0 20px; /* Pad left and right boundary */
    margin-bottom: 20px; /* Margin at bottom to next analytics panel */
}

/* Panel Styling */
.analytics-panel-landing {
    border: 1px solid white; /* Light grey border */
    border-radius: 5px;
    text-align: center;
    color: white;
    min-height: 150px; /* Set minimum height for panels */
}

.analytics-list {
    list-style-type: disc; /* Bullet points */
    margin: 20px; /* 20px margin around the list */
    padding-left: 20px; /* Indentation for bullets */
    color: white;
}

.analytics-list li {
    text-align: left; /* Align text to the left */
    padding-left: 20px; /* Indentation for the text of each item */
    margin-bottom: 20px; /* Optional: space between list items */
}

/* Indentation for wrapped lines inside each item */
.analytics-list li p {
    text-indent: 20px; /* Indentation for the continuation of text in multi-line items */
}pa