/* Overwrite base.css for centering of the content */
/* Parent Container for Centering */
.container {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 20px; /* Optional: Padding for better spacing */
    box-sizing: border-box; /* Include padding in height calculation */
}

/* Center Section Styling */
.center {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9); /* Dark grey with 90% opacity */
    padding: 30px 20px;
    width: 400px;
    max-width: 90%; /* Ensure it looks good on smaller screens */
}

/* Form Styling */
.form-group {
    margin: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9); /* Matches dashboard panel styles */
}

/* Style of alert messages e.g. for not registered users */
.alert-container {
    font-size: 16px;
    color: #B22222;
    margin-bottom: 20px;
}

.alert {
    color: #B22222;
}

.alert-success {
    color: #008A00;
    font-style: italic;
}

.alert-danger {
    color: #B22222;
    font-style: italic;
}

.alert-info {
    color: white;
}

/* Button Styling */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 10px;
}

.btn-primary {
    background: #008A00;

/* Green for consistency */
    color: white;
}

.btn-primary:hover {
    background: #00B000; /* Lighter green for hover state */
}

/* Link to Registration */
a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

/* Overwrite base.css */
p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    line-height: 1.0;
}

/* Styling for heading and text */
h_l {
    font-family: Verdana, sans-serif;
    position: relative;
    text-align: left;
    font-size: 36px; /* Medium font size for subheadings */
    font-weight: bold;
    margin: 20px;
}

