<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transcriber Interface{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}
        {% if page_name == "dashboard" %}
            <link rel="stylesheet" href="/static/css/dashboard.css">
        {% elif page_name == "login" %}
            <link rel="stylesheet" href="/static/css/login.css">
        {% elif page_name == "register" %}
            <link rel="stylesheet" href="/static/css/register.css">
        {% endif %}
    {% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>
<body class="{% block body_class %}{% endblock %}" data-page="{% block data_page %}{% endblock %}">

    <!-- Header for all pages -->
    <header class="header">
        <!-- Language Switcher Buttons -->
        <div class="language-switcher">
            <button id="btn_en">en</button>
            <button id="btn_de">de</button>
            <button id="btn_es">es</button>
        </div>

        <!-- User Info and Logout Button -->
        {% if page_name != "login" and page_name != "register" %}
            <div class="user-info">
                <span class="user-email">{{ current_user.email }}</span>
                <form method="POST" action="{{ url_for('auth.logout') }}">
                    <button type="submit" class="btn btn-logout" data-i18n="logout_button">Logout</button>
                </form>
            </div>
        {% endif %}
    </header>

    <!-- Canvas for dynamic wave background -->
    <canvas id="backgroundCanvas"></canvas>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p_f data-i18n="footer">Developed by Kilian Brickl © 2024</p_f>
    </footer>
</body>
</html>